<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <title>Artist and his Albums</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/jumbotron.css">
        <link rel="stylesheet" href="/assets/css/personalcss.css">
	</head>

        <script>
        baseurl="http://localhost:3000/"
        function buildURL(item, aux)
        {

                item.href=baseurl+"signup/"+encodeURIComponent(aux);

            return true;
        }
        function createurl(item, aux){
                item.action = baseurl+'login/'+encodeURIComponent(aux);
        }
        </script>

    <body>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login in to continue to previous page</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" method="post" action="#" name="loginForm" onsubmit="return createurl(this, &quot;{{previous}}&quot;);">
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                </form>
            </div>
            <a href="" onclick="return buildURL(this,&quot;{{previous}}&quot;);" class="text-center new-account">Create an account </a>
            <a href={{previous}} class="text-center new-account">Back </a>
        </div>
    </div>
</div>

    </body>	
</html>