<ul class="pre-scrollable nobullets" role="menu">
    {{#each songs}}
        <li>
            {{this}}
        </li>
        <hr style="border-color:black; background-color:black; color:black">                
    {{/each}}
</ul>