<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <title>Artist and his Albums</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/jumbotron.css">
        <link rel="stylesheet" href="/assets/css/personalcss.css">
	</head>

        <script>
        var baseurl="http://localhost:3000/"
        function buildURL(item, aux)
        {

                item.href=baseurl+"signup/"+encodeURIComponent(aux);

            return true;
        };

        function createurl(item, aux){
                var urlinfo='/login/';
                if(!(aux==="")){
                    urlinfo = urlinfo + encodeURIComponent(aux);
                }
                var xhttp;
                if (window.XMLHttpRequest) {
                    xhttp = new XMLHttpRequest();
                    } else {
                    // code for IE6, IE5
                    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        window.location.href = this.responseText;
                    }
                    if (this.readyState == 4 && this.status == 500) {
                        alert("If you just created the respective user, please try again. Else, the user doens't exist (press Create an account in order to create an user)");
                    }
                };
                xhttp.open("post",urlinfo,true);
                xhttp.setRequestHeader("Content-type", "application/json");
                var user = document.getElementById("username").value;
                var pass = document.getElementById("password").value;
                xhttp.send(JSON.stringify({username:user,password:pass}));
            };

        </script>

    <body>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login in to continue to previous page</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" name="loginForm" onSubmit="return false;" >
                <input id="username" type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
                <a onclick="createurl(this, &quot;{{previous}}&quot;);"> <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Log in</button></a>
                </form>
            </div>
            <a href="" onclick="return buildURL(this,&quot;{{previous}}&quot;);" class="text-center new-account">Create an account </a>
            <a href={{previous}} class="text-center new-account">Back </a>
        </div>
    </div>
</div>

    </body>	
</html>